Repository ramge132/long-ago: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_FE, build_BE, push_FE, push_BE

Path conditions:
  build_FE: any of: FE/**/*
  build_BE: any of: BE/**/*
  push_FE: any of: FE/**/*
  push_BE: any of: BE/**/*

feat: 현재 턴 표시 기능 추가
  FE/src/components/InGame/InGameProgress.vue
  FE/src/components/InGame/InGameProgress/ContentTimer.vue
  FE/src/stores/inGame.js
  FE/src/views/Game/InGameView.vue
  FE/src/views/GameView.vue
Due: build_FE, push_FE

style: 디자인 수정
  FE/src/App.vue
  FE/src/components/InGame/InGameContent.vue
  FE/src/components/InGame/InGameProgress.vue
  FE/src/components/Presets/ToggleButton.vue
Due: build_FE, push_FE

delete: 마우스 커서 제거
  FE/src/assets/index.css
  FE/tailwind.config.js
Due: build_FE, push_FE

test: 수정해야하는 부분 주석 추가
  FE/src/views/GameView.vue
Due: build_FE, push_FE

style: 동적 감정표현 추가, 이미지 변경
  FE/src/App.vue
  FE/src/assets/images/emoticons/dynamic/asleep.webp
  FE/src/assets/images/emoticons/dynamic/confused.webp
  FE/src/assets/images/emoticons/dynamic/crossed.webp
  FE/src/assets/images/emoticons/dynamic/expressionless.webp
  FE/src/assets/images/emoticons/dynamic/fear.webp
  FE/src/assets/images/emoticons/dynamic/laugh.webp
  FE/src/assets/images/emoticons/dynamic/loving.webp
  FE/src/assets/images/emoticons/dynamic/sad.webp
  FE/src/assets/images/emoticons/dynamic/sunglasses.webp
  FE/src/assets/images/emoticons/dynamic/tongue.webp
  FE/src/assets/images/emoticons/dynamic/wink.webp
  FE/src/assets/images/emoticons/dynamic/wrath.webp
  FE/src/assets/images/emoticons/index.js
  FE/src/assets/images/emoticons/static/asleep.png
  FE/src/assets/images/emoticons/static/confused.png
  FE/src/assets/images/emoticons/static/crossed.png
  FE/src/assets/images/emoticons/static/expressionless.png
  FE/src/assets/images/emoticons/static/fear.png
  FE/src/assets/images/emoticons/static/laugh.png
  FE/src/assets/images/emoticons/static/loving.png
  FE/src/assets/images/emoticons/static/sad.png
  FE/src/assets/images/emoticons/static/sunglasses.png
  FE/src/assets/images/emoticons/static/tongue.png
  FE/src/assets/images/emoticons/static/wink.png
  FE/src/assets/images/emoticons/static/wrath.png
  FE/src/components/InGame/InGameControl.vue
  FE/src/views/Game/InGameView.vue
Due: build_FE, push_FE

style: prettier 적용
  FE/src/App.vue
  FE/src/assets/images/emoticons/index.js
  FE/src/assets/images/profiles/index.js
  FE/src/assets/index.js
  FE/src/components/InGame/InGameContent.vue
  FE/src/components/InGame/InGameControl.vue
  FE/src/components/InGame/InGameProgress.vue
  FE/src/components/InGame/InGameProgress/ContentGuage.vue
  FE/src/components/InGame/InGameProgress/ContentTimer.vue
  FE/src/components/InGame/InGameVote.vue
  FE/src/components/Lobby/LobbySettings.vue
  FE/src/components/Lobby/LobbyUsers.vue
  FE/src/components/Presets/FooterBar.vue
  FE/src/components/Presets/ToggleButton.vue
  FE/src/stores/audio.js
  FE/src/stores/game.js
  FE/src/views/Game/InGameView.vue
  FE/src/views/Game/LobbyView.vue
  FE/src/views/GameView.vue
  FE/src/views/IntroView.vue
Due: build_FE, push_FE

delete: 불필요 블럭 삭제
  FE/src/App.vue
Due: build_FE, push_FE

feat: Game Data Management
  BE/.env
  BE/src/main/java/com/example/b101/cache/Game.java
  BE/src/main/java/com/example/b101/cache/RedisConfig.java
  BE/src/main/java/com/example/b101/cache/Room.java
  BE/src/main/java/com/example/b101/cache/SceneRedis.java
  BE/src/main/java/com/example/b101/common/ApiResponse.java
  BE/src/main/java/com/example/b101/config/CorsConfig.java
  BE/src/main/java/com/example/b101/config/SecurityConfig.java
  BE/src/main/java/com/example/b101/config/WebSocketConfig.java
  BE/src/main/java/com/example/b101/controller/GameController.java
  BE/src/main/java/com/example/b101/controller/SceneController.java
  BE/src/main/java/com/example/b101/domain/Author.java
  BE/src/main/java/com/example/b101/domain/Book.java
  BE/src/main/java/com/example/b101/domain/Game.java
  BE/src/main/java/com/example/b101/domain/PlayerStatus.java
  BE/src/main/java/com/example/b101/domain/Scene.java
  BE/src/main/java/com/example/b101/domain/StoryCard.java
  BE/src/main/java/com/example/b101/domain/User.java
  BE/src/main/java/com/example/b101/dto/CreateGame.java
  BE/src/main/java/com/example/b101/dto/CreateRoomDto.java
  BE/src/main/java/com/example/b101/dto/CreateSceneDto.java
  BE/src/main/java/com/example/b101/dto/CustomUserDetails.java
  BE/src/main/java/com/example/b101/dto/ResponseGameData.java
  BE/src/main/java/com/example/b101/dto/SignUpDto.java
  BE/src/main/java/com/example/b101/handler/SignalingHandler.java
  BE/src/main/java/com/example/b101/repository/BookRepository.java
  BE/src/main/java/com/example/b101/repository/GameRepository.java
  BE/src/main/java/com/example/b101/repository/GameRepositoryImpl.java
  BE/src/main/java/com/example/b101/repository/RedisSceneRepoImpl.java
  BE/src/main/java/com/example/b101/repository/RedisSceneRepository.java
  BE/src/main/java/com/example/b101/repository/RoomRepository.java
  BE/src/main/java/com/example/b101/repository/RoomRepositoryImpl.java
  BE/src/main/java/com/example/b101/service/GameService.java
  BE/src/main/java/com/example/b101/service/RoomService.java
  BE/src/main/java/com/example/b101/service/SceneService.java
  BE/src/main/resources/application.properties
  BE/src/main/resources/data.sql
Due: build_BE, push_BE

feat: game관련 api 모음
  FE/src/apis/game.js
Due: build_FE, push_FE

test: 책 내용에 따라 책 페이지 조절 테스트 코드
  FE/src/components/InGame/InGameContent.vue
Due: build_FE, push_FE

style: 동적 감정표현 종류 추가 및 애니메이션 변경
  FE/src/assets/icons/emoticon.svg
  FE/src/assets/images/emoticons/index.js
  FE/src/components/InGame/InGameControl.vue
  FE/src/views/Game/InGameView.vue
  FE/src/views/GameView.vue
Due: build_FE, push_FE

test: 글, 이미지 추가에 따른 책 페이지 동적 추가가
  FE/src/components/InGame/InGameContent.vue
Due: build_FE, push_FE

style: 차례별 이미지 추가, 불필요 이미지 삭제
  FE/src/assets/fonts/Maplestory Light.ttf
  FE/src/assets/images/ERE.GG.svg
  FE/src/assets/images/hyunwoo.svg
  FE/src/assets/images/inGame/currTurn.svg
  FE/src/assets/images/inGame/gameStart.svg
  FE/src/assets/images/inGame/myTurn.svg
  FE/src/assets/index.js
  FE/src/views/Game/InGameView.vue
Due: build_FE, push_FE

test: 개발 시 내비게이션 가드 주석석
  FE/src/router/index.js
Due: build_FE, push_FE

test: 책 넘기기 테스트 코드
  FE/src/components/InGame/InGameContent.vue
Due: build_FE, push_FE

feat: 게임 시작 트리거 및 오버레이 추가
  FE/src/assets/index.js
  FE/src/views/Game/InGameView.vue
  FE/src/views/GameView.vue
Due: build_FE, push_FE

test: env_main
  .gitlab-ci.yml
  BE/src/main/java/com/example/b101/EreGgApplication.java
Due: build_BE, push_BE

test: main_env2
  .gitlab-ci.yml
  BE/Dockerfile
Due: build_BE, push_BE

test: main_env3
  .gitlab-ci.yml
  BE/Dockerfile
Due: build_BE, push_BE

test: main_env4
  .gitlab-ci.yml
  BE/Dockerfile
Due: build_BE, push_BE

test: main_env_scp
  .gitlab-ci.yml
  BE/src/main/java/com/example/b101/EreGgApplication.java
Due: build_BE, push_BE

test: main_env
  .gitlab-ci.yml
  BE/Dockerfile
Due: build_BE, push_BE

test : db_init
  BE/Dockerfile
  BE/src/main/resources/data.sql
Due: build_BE, push_BE

test: test_env
  .gitlab-ci.yml
  BE/Dockerfile
Due: build_BE, push_BE

test: test_env
  BE/Dockerfile
Due: build_BE, push_BE

test: test_env
  .gitlab-ci.yml
Due: none

test: test_env
  BE/src/main/resources/data.sql
Due: build_BE, push_BE

test: no data.sql
  .DS_Store
  BE/src/main/resources/data.sql
Due: build_BE, push_BE

fix: 인게임 채팅 순서 재정렬
  FE/src/components/InGame/InGameProgress/ContentTimer.vue
  FE/src/views/Game/InGameView.vue
  FE/src/views/GameView.vue
Due: build_FE, push_FE

feat: 게임 시작 및 차례 애니메이션 추가
  FE/src/views/GameView.vue
Due: build_FE, push_FE

delete: 불필요 코드 제거
  FE/src/views/Game/InGameView.vue
Due: build_FE, push_FE

test: gpu 서버 통신
  .gitignore
  .gitlab-ci.yml
  BE/Dockerfile
  BE/build.gradle
  BE/src/main/java/com/example/b101/EreGgApplication.java
  BE/src/main/java/com/example/b101/cache/Game.java
  BE/src/main/java/com/example/b101/cache/SceneRedis.java
  BE/src/main/java/com/example/b101/config/WebClientConfig.java
  BE/src/main/java/com/example/b101/controller/GameController.java
  BE/src/main/java/com/example/b101/controller/SceneController.java
  BE/src/main/java/com/example/b101/domain/PlayerStatus.java
  BE/src/main/java/com/example/b101/dto/CreateGame.java
  BE/src/main/java/com/example/b101/dto/ResponseGame.java
  BE/src/main/java/com/example/b101/dto/ResponseScene.java
  BE/src/main/java/com/example/b101/repository/GameRepoImpl.java
  BE/src/main/java/com/example/b101/repository/RedisSceneRepoImpl.java
  BE/src/main/java/com/example/b101/repository/RoomRepoImpl.java
  BE/src/main/java/com/example/b101/repository/StoryCardRepository.java
  BE/src/main/java/com/example/b101/service/GameService.java
  BE/src/main/java/com/example/b101/service/SceneService.java
  BE/src/main/resources/application.properties
  BE/src/main/resources/data.sql
Due: build_BE, push_BE

style: 인게임 이미지 변수명 변경
  FE/src/assets/index.js
  FE/src/views/GameView.vue
Due: build_FE, push_FE

cicd: 02/06
  .gitlab-ci.yml
  BE/Dockerfile
  FE/Dockerfile
Due: build_FE, build_BE, push_FE, push_BE

feat: myTurn 추가가
  FE/src/views/GameView.vue
Due: build_FE, push_FE

style: 바뀐 변수명 적용
  .gitlab-ci.yml
  FE/src/views/GameView.vue
Due: build_FE, push_FE

feat: 자신의 턴이 아닌 경우 프롬프트 제출 X, 자신의 턴인 경우 api 호출 후 턴 종료
  FE/src/components/InGame/InGameControl.vue
  FE/src/views/Game/InGameView.vue
  FE/src/views/GameView.vue
Due: build_FE, push_FE

feat: 카운트다운 활성화 트리거 추가가
  FE/src/components/InGame/InGameProgress.vue
  FE/src/components/InGame/InGameProgress/ContentTimer.vue
  FE/src/views/Game/InGameView.vue
  FE/src/views/GameView.vue
Due: build_FE, push_FE
