Repository ramge132/long-ago: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_FE, build_BE, push_FE, push_BE

build_FE:
  stage: build
  image: docker:27.4.0
  variables:
    IMAGE_NAME: $FE_IMAGE
    DOCKERFILE_PATH: FE/Dockerfile
    CONTEXT: FE
    VITE_GOOGLE_CLIENT_ID: $VITE_GOOGLE_CLIENT_ID
    VITE_MAIN_API_SERVER_URL: $VITE_MAIN_API_SERVER_URL
    VITE_USERS: $VITE_USERS
    VITE_USERS_SIGNIN: $VITE_USERS_SIGNIN
  script:
  ...

build_BE:
  stage: build
  image: gradle:8.12.0-jdk17-alpine
  variables:
    IMAGE_NAME: $BE_IMAGE
    DOCKERFILE_PATH: BE/Dockerfile
    CONTEXT: BE
  script:
  - echo "==========================="
  - echo "      BACK-END빌드 중"
  - echo "==========================="
  ...

push_FE:
  stage: push
  variables:
    IMAGE_NAME: $FE_IMAGE
  script:
  - echo "==========================="
  - echo "  FRONT-END 이미지 푸쉬 중"
  - echo "==========================="
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push $IMAGE_NAME:$CI_COMMIT_SHA
  ...

push_BE:
  stage: push
  variables:
    IMAGE_NAME: $BE_IMAGE
  script:
  - echo "==========================="
  - echo "  BACK-END 이미지 푸쉬 중"
  - echo "==========================="
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push $IMAGE_NAME:$CI_COMMIT_SHA
  ...

feat: 게임 관련 api 추가가
  FE/src/apis/game.js
Due: build_FE, push_FE

feat: 프롬프트 제출 턴 종료료
  FE/src/components/InGame/InGameControl.vue
Due: build_FE, push_FE

style: 코드 블록 주석 추가가
  FE/src/views/GameView.vue
Due: build_FE, push_FE

feat: 프롬프트 제출 턴 종료료
  FE/src/views/Game/InGameView.vue
Due: build_FE, push_FE

refactor: 주석 추가 및 변수명 수정
  BE/.env
  BE/src/main/java/com/example/b101/cache/SceneRedis.java
  BE/src/main/java/com/example/b101/controller/GameController.java
  BE/src/main/java/com/example/b101/controller/RoomController.java
  BE/src/main/java/com/example/b101/controller/SceneController.java
  BE/src/main/java/com/example/b101/controller/UserController.java
  BE/src/main/java/com/example/b101/domain/Book.java
  BE/src/main/java/com/example/b101/domain/Scene.java
  BE/src/main/java/com/example/b101/dto/GameRequest.java
  BE/src/main/java/com/example/b101/dto/GameResponse.java
  BE/src/main/java/com/example/b101/dto/GenerateSceneRequest.java
  BE/src/main/java/com/example/b101/dto/GenerateSceneResponse.java
  BE/src/main/java/com/example/b101/dto/ResponseGameData.java
  BE/src/main/java/com/example/b101/dto/ResponseScene.java
  BE/src/main/java/com/example/b101/dto/RoomRequest.java
  BE/src/main/java/com/example/b101/dto/SceneRequest.java
  BE/src/main/java/com/example/b101/dto/SignUpRequest.java
  BE/src/main/java/com/example/b101/repository/BookRepository.java
  BE/src/main/java/com/example/b101/repository/RedisSceneRepoImpl.java
  BE/src/main/java/com/example/b101/repository/RedisSceneRepository.java
  BE/src/main/java/com/example/b101/service/GameService.java
  BE/src/main/java/com/example/b101/service/RoomService.java
  BE/src/main/java/com/example/b101/service/SceneService.java
  BE/src/main/java/com/example/b101/service/UserService.java
Due: build_BE, push_BE

cicd: test
  .gitlab-ci.yml
Due: none

feat: 게임 시작 시 방장 및 참가자 카드 분배
  FE/src/apis/game.js
  FE/src/views/GameView.vue
Due: build_FE, push_FE

cicd: 메인서버 빌드 테스트
  .gitlab-ci.yml
Due: none

delete: corsConfig
  BE/src/main/java/com/example/b101/EreGgApplication.java
  BE/src/main/java/com/example/b101/cache/Game.java
  BE/src/main/java/com/example/b101/cache/RedisConfig.java
  BE/src/main/java/com/example/b101/cache/SceneRedis.java
  BE/src/main/java/com/example/b101/config/CorsConfig.java
  BE/src/main/java/com/example/b101/config/WebClientConfig.java
  BE/src/main/java/com/example/b101/service/GameService.java
  BE/src/main/java/com/example/b101/service/SceneService.java
Due: build_BE, push_BE

style: 턴 종료 트리거 싱크 수정
  FE/src/views/GameView.vue
Due: build_FE, push_FE

fix: 게임 생성 시 방장 카드정보
  BE/src/main/java/com/example/b101/service/GameService.java
Due: build_BE, push_BE

test: 카드 분배 기능
  FE/src/apis/game.js
  FE/src/views/GameView.vue
Due: build_FE, push_FE

cicd: 원상복귀
  .gitlab-ci.yml
Due: none

cicd: test
  FE/Dockerfile
Due: build_FE, push_FE

fix: 게임 생성 버그 수정
  BE/src/main/java/com/example/b101/service/GameService.java
Due: build_BE, push_BE

test: main
  .gitlab-ci.yml
Due: none

feat: 카드 분배 기능 추가
  FE/src/views/GameView.vue
Due: build_FE, push_FE

test: main-server
  .gitlab-ci.yml
  BE/Dockerfile
  FE/Dockerfile
Due: build_FE, build_BE, push_FE, push_BE

style: 채팅 및 감정표현 z-index 조정정
  FE/src/views/Game/InGameView.vue
Due: build_FE, push_FE

test: dockerhubh
  BE/Dockerfile
  FE/Dockerfile
Due: build_FE, build_BE, push_FE, push_BE

feat: filering 기능 추가
  BE/src/main/java/com/example/b101/controller/SceneController.java
  BE/src/main/java/com/example/b101/domain/StoryCardVariants.java
  BE/src/main/java/com/example/b101/dto/FilteringRequest.java
  BE/src/main/java/com/example/b101/repository/StoryCardVariantsRepository.java
  BE/src/main/java/com/example/b101/service/FilteringService.java
Due: build_BE, push_BE

test: main-server
  BE/Dockerfile
  FE/Dockerfile
Due: build_FE, build_BE, push_FE, push_BE

update: FE/dev BE/dev main merge 완료 후에만 작동
  .gitlab-ci.yml
  FE/Dockerfile
Due: build_FE, push_FE

fix: CICD/test에서 작동하도록 변경
  .gitlab-ci.yml
Due: none

test: test-server
  .gitlab-ci.yml
Due: none

fix: 이탈자 발생 시 순서 조정 및 턴 동기화
  FE/src/views/Game/InGameView.vue
  FE/src/views/GameView.vue
Due: build_FE, push_FE

test: test-server
  BE/src/main/resources/application.properties
Due: build_BE, push_BE

feat: 이미지 생성 로직
  .gitlab-ci.yml
  BE/src/main/java/com/example/b101/cache/SceneRedis.java
  BE/src/main/java/com/example/b101/config/WebClientConfig.java
  BE/src/main/java/com/example/b101/dto/GenerateSceneRequest.java
  BE/src/main/java/com/example/b101/dto/GenerateSceneResponse.java
  BE/src/main/java/com/example/b101/repository/RedisSceneRepoImpl.java
  BE/src/main/java/com/example/b101/repository/RedisSceneRepository.java
  BE/src/main/java/com/example/b101/repository/StoryCardVariantsRepository.java
  BE/src/main/java/com/example/b101/service/FilteringService.java
  BE/src/main/java/com/example/b101/service/SceneService.java
  BE/src/main/java/com/example/b101/service/UserService.java
Due: build_BE, push_BE

feat: 인게임 타이머 webWorker(백그라운드 실행) 적용
  FE/src/components/InGame/InGameProgress/ContentTimer.vue
  FE/src/functions/worker.js
  FE/src/views/GameView.vue
Due: build_FE, push_FE

feat : add room create, delete, search with redis
  BE/B101-back/src/main/java/com/example/b101/config/RedisConfig.java
  BE/B101-back/src/main/java/com/example/b101/controller/RoomController.java
  BE/B101-back/src/main/java/com/example/b101/domain/Room.java
  BE/B101-back/src/main/java/com/example/b101/repository/RoomRepository.java
  BE/B101-back/src/main/java/com/example/b101/repository/RoomRepositoryImpl.java
  BE/B101-back/src/main/java/com/example/b101/service/RoomService.java
Due: build_BE, push_BE

feat : 방 입장하기
  BE/B101-back/src/main/java/com/example/b101/controller/RoomController.java
  BE/B101-back/src/main/java/com/example/b101/service/RoomService.java
  BE/gradle/wrapper/gradle-wrapper.properties
  BE/gradlew
  BE/src/main/java/com/example/b101/config/RedisConfig.java
  BE/src/main/java/com/example/b101/controller/RoomController.java
  BE/src/main/java/com/example/b101/domain/Room.java
  BE/src/main/java/com/example/b101/dto/CreateRoomDto.java
  BE/src/main/java/com/example/b101/repository/RoomRepository.java
  BE/src/main/java/com/example/b101/repository/RoomRepositoryImpl.java
  BE/src/main/java/com/example/b101/service/RoomService.java
Due: build_BE, push_BE

S12P11B101-80 <chore : DBMS mysql -> postgresql>
  BE/src/main/resources/application.properties
Due: build_BE, push_BE

chore: DBMS를 MySQL에서 PostgreSQL로 변경 (#S12P11B101-80)
  BE/.gitignore
  BE/build.gradle
  BE/src/main/java/com/example/b101/controller/RoomController.java
  BE/src/main/java/com/example/b101/domain/Author.java
  BE/src/main/java/com/example/b101/domain/Room.java
  BE/src/main/java/com/example/b101/domain/User.java
  BE/src/main/java/com/example/b101/repository/RoomRepositoryImpl.java
  BE/src/main/java/com/example/b101/service/RoomService.java
  BE/src/main/resources/application.properties
Due: build_BE, push_BE

Path conditions:
  build_FE: any of: FE/**/*
  build_BE: any of: BE/**/*
  push_FE: any of: FE/**/*
  push_BE: any of: BE/**/*
