Repository ramge132/long-ago: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_fe, build_be, push_fe, push_be

build_fe:
  stage: build
  image: docker:27.4.0
  variables:
    IMAGE_NAME: $FE_IMAGE
    DOCKERFILE_PATH: FE/Dockerfile
    CONTEXT: FE
  script:
  - echo "Building FE Docker image..."
  - docker build -t $IMAGE_NAME:$CI_COMMIT_SHA -f $DOCKERFILE_PATH $CONTEXT
  - docker tag $IMAGE_NAME:$CI_COMMIT_SHA $IMAGE_NAME:latest
  ...

build_be:
  stage: build
  image: gradle:8.12.0-jdk17-alpine
  variables:
    IMAGE_NAME: $BE_IMAGE
    DOCKERFILE_PATH: BE/Dockerfile
    CONTEXT: BE
  script:
  - echo "Building BE Docker image..."
  - gradle build -x test --no-daemon
  - docker build -t $IMAGE_NAME:$CI_COMMIT_SHA -f $DOCKERFILE_PATH $CONTEXT
  ...

push_fe:
  stage: push
  image: docker:27.4.0
  variables:
    IMAGE_NAME: $FE_IMAGE
  script:
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - echo "Pushing FE Docker image..."
  - docker push $IMAGE_NAME:$CI_COMMIT_SHA
  - docker push $IMAGE_NAME:latest
  dependencies:
  - build_fe
  ...

push_be:
  stage: push
  image: docker:27.4.0
  variables:
    IMAGE_NAME: $BE_IMAGE
  script:
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - echo "Pushing BE Docker image..."
  - docker push $IMAGE_NAME:$CI_COMMIT_SHA
  - docker push $IMAGE_NAME:latest
  dependencies:
  - build_be
  ...

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

docs: git pull 관련 내용 추가
  README.md
Due: none

chore: 프로젝트 명 변경
  FE/index.html
Due: build_fe, push_fe

test: webRTC 테스트 코드
  FE/src/stores/auth.js
  FE/src/views/WebRTC.vue
Due: build_fe, push_fe

fix: 로그인 api 수정
  FE/src/apis/auth.js
  FE/src/components/Auth/SignIn.vue
Due: build_fe, push_fe

test: webRTC 테스트 코드
  FE/src/views/InitView.vue
Due: build_fe, push_fe

test
  asdasd.txt
Due: none

delete: 1주차 학습 내용정리 삭제
  김동휘_1236832/LLM 학습.pdf
  김동휘_1236832/LLM_학습.md
  김동휘_1236832/images/LoRA Attention Layer.webp
  김동휘_1236832/images/각 학습 방식 시각화.png
  김형표_1232463/img/DB.png
  김형표_1232463/img/Spring Security.png
  김형표_1232463/김형표_1232463_학습내용.md
  유태영_1235604/images/flux.1s(1).png
  유태영_1235604/images/flux.1s(2).png
  유태영_1235604/images/flux.1s(3).png
  유태영_1235604/images/flux.1s(4).png
  유태영_1235604/images/flux.1s(5).png
  유태영_1235604/images/flux.1s(6).png
  유태영_1235604/images/sd3.5l(1).png
  유태영_1235604/images/sd3.5lt(1).png
  유태영_1235604/images/sd3.5lt(2).png
  유태영_1235604/images/sd3.5lt(3).png
  유태영_1235604/images/sd3.5lt(4).png
  유태영_1235604/images/sd3.5lt(5).png
  유태영_1235604/images/sd3.5lt(6).png
  유태영_1235604/images/sd3.5m(1).png
  유태영_1235604/images/sd3.5m(2).png
  유태영_1235604/images/sd3.5m(3).png
  유태영_1235604/images/sd3.5m(4).png
  유태영_1235604/images/sd3.5m(5).png
  유태영_1235604/images/sd3.5m(6).png
  유태영_1235604/유태영_1231879_학습내용.md
  이세중_1231148/images/sysarch.png
  이세중_1231148/이세중_1231148_학습내용_1.md
  홍석진_1231879/.DS_Store
  홍석진_1231879/images/webRTC1.png
  홍석진_1231879/images/webRTC2.png
  홍석진_1231879/홍석진_1231879_학습내용.md
  홍정표_1236651/image/threejs1.png
  홍정표_1236651/image/threejs2.png
  홍정표_1236651/image/webRTC1.png
  홍정표_1236651/image/webRTC2.png
  홍정표_1236651/홍정표_1236651 학습내용.md
Due: none

style: 팀 이름 변경
  FE/src/components/Presets/MainFooter.vue
Due: build_fe, push_fe

style: favicon 변경
  FE/public/favicon.ico
Due: build_fe, push_fe

feat: router guard 설정
  FE/src/router/index.js
Due: build_fe, push_fe

feat: 라우팅 경로 변경
  FE/src/views/InitView.vue
Due: build_fe, push_fe

feat: webRTC 완료
  FE/src/views/LobbyView.vue
  FE/src/views/WebRTC.vue
Due: build_fe, push_fe

feat : add room create, delete, search with redis
  BE/B101-back/build.gradle
  BE/B101-back/src/main/java/com/example/b101/config/RedisConfig.java
  BE/B101-back/src/main/java/com/example/b101/config/SecurityConfig.java
  BE/B101-back/src/main/java/com/example/b101/controller/RoomController.java
  BE/B101-back/src/main/java/com/example/b101/controller/UserController.java
  BE/B101-back/src/main/java/com/example/b101/domain/Room.java
  BE/B101-back/src/main/java/com/example/b101/domain/User.java
  BE/B101-back/src/main/java/com/example/b101/repository/RoomRepository.java
  BE/B101-back/src/main/java/com/example/b101/repository/RoomRepositoryImpl.java
  BE/B101-back/src/main/java/com/example/b101/repository/UserRepository.java
  BE/B101-back/src/main/java/com/example/b101/service/RoomService.java
  BE/B101-back/src/main/java/com/example/b101/service/UserService.java
  BE/B101-back/src/main/resources/application.properties
Due: build_be, push_be

Deleted 김형표_1232463/img/DB.png, 김형표_1232463/img/Spring Security.png, 김형표_1232463/김형표_1232463_학습내용.md
  김형표_1232463/img/DB.png
  김형표_1232463/img/Spring Security.png
  김형표_1232463/김형표_1232463_학습내용.md
Due: none

feat: 로비 페이지 UI 추가
  FE/src/App.vue
  FE/src/assets/images/modes/mode1.svg
  FE/src/assets/images/modes/mode2.svg
  FE/src/assets/index.js
  FE/src/components/LobbyViewItem.vue
  FE/src/router/index.js
  FE/src/views/WebRTC.vue
Due: build_fe, push_fe

style: div 높이 변경경
  FE/src/App.vue
Due: build_fe, push_fe

fix: 불필요 콘솔 제거거
  FE/src/views/InitView.vue
Due: build_fe, push_fe

fix: 참가자 퇴장처리 수정정
  FE/src/views/LobbyView.vue
Due: build_fe, push_fe

style: 스크롤바 디자인 적용
  FE/src/assets/index.css
Due: build_fe, push_fe

delete studynote
  김동휘_1236832/LLM 학습.pdf
  김동휘_1236832/LLM_학습.md
  김동휘_1236832/images/LoRA Attention Layer.webp
  김동휘_1236832/images/각 학습 방식 시각화.png
  김형표_1232463/img/DB.png
  김형표_1232463/img/Spring Security.png
  김형표_1232463/김형표_1232463_학습내용.md
  유태영_1235604/images/flux.1s(1).png
  유태영_1235604/images/flux.1s(2).png
  유태영_1235604/images/flux.1s(3).png
  유태영_1235604/images/flux.1s(4).png
  유태영_1235604/images/flux.1s(5).png
  유태영_1235604/images/flux.1s(6).png
  유태영_1235604/images/sd3.5l(1).png
  유태영_1235604/images/sd3.5lt(1).png
  유태영_1235604/images/sd3.5lt(2).png
  유태영_1235604/images/sd3.5lt(3).png
  유태영_1235604/images/sd3.5lt(4).png
  유태영_1235604/images/sd3.5lt(5).png
  유태영_1235604/images/sd3.5lt(6).png
  유태영_1235604/images/sd3.5m(1).png
  유태영_1235604/images/sd3.5m(2).png
  유태영_1235604/images/sd3.5m(3).png
  유태영_1235604/images/sd3.5m(4).png
  유태영_1235604/images/sd3.5m(5).png
  유태영_1235604/images/sd3.5m(6).png
  유태영_1235604/유태영_1231879_학습내용.md
  이세중_1231148/images/sysarch.png
  이세중_1231148/이세중_1231148_학습내용_1.md
  홍석진_1231879/.DS_Store
  홍석진_1231879/images/webRTC1.png
  홍석진_1231879/images/webRTC2.png
  홍석진_1231879/홍석진_1231879_학습내용.md
  홍정표_1236651/image/threejs1.png
  홍정표_1236651/image/threejs2.png
  홍정표_1236651/image/webRTC1.png
  홍정표_1236651/image/webRTC2.png
  홍정표_1236651/홍정표_1236651 학습내용.md
Due: none

feat : 방 입장하기
  BE/.gitattributes
  BE/.gitignore
  BE/B101-back/src/main/java/com/example/b101/controller/RoomController.java
  BE/B101-back/src/main/java/com/example/b101/service/RoomService.java
  BE/build.gradle
  BE/gradle/wrapper/gradle-wrapper.jar
  BE/gradle/wrapper/gradle-wrapper.properties
  BE/gradlew
  BE/gradlew.bat
  BE/settings.gradle
  BE/src/main/java/com/example/b101/EreGgApplication.java
  BE/src/main/java/com/example/b101/config/RedisConfig.java
  BE/src/main/java/com/example/b101/config/SecurityConfig.java
  BE/src/main/java/com/example/b101/controller/RoomController.java
  BE/src/main/java/com/example/b101/controller/UserController.java
  BE/src/main/java/com/example/b101/domain/Author.java
  BE/src/main/java/com/example/b101/domain/Book.java
  BE/src/main/java/com/example/b101/domain/Room.java
  BE/src/main/java/com/example/b101/domain/Scene.java
  BE/src/main/java/com/example/b101/domain/User.java
  BE/src/main/java/com/example/b101/dto/CreateRoomDto.java
  BE/src/main/java/com/example/b101/dto/CustomUserDetails.java
  BE/src/main/java/com/example/b101/dto/SignUpDto.java
  BE/src/main/java/com/example/b101/repository/RoomRepository.java
  BE/src/main/java/com/example/b101/repository/RoomRepositoryImpl.java
  BE/src/main/java/com/example/b101/repository/UserRepository.java
  BE/src/main/java/com/example/b101/response/ApiResponse.java
  BE/src/main/java/com/example/b101/response/ApiResponseUtil.java
  BE/src/main/java/com/example/b101/service/CustomUserDetailsService.java
  BE/src/main/java/com/example/b101/service/RoomService.java
  BE/src/main/java/com/example/b101/service/UserService.java
  BE/src/main/resources/application.properties
  BE/src/test/java/com/example/b101/EreGgApplicationTests.java
Due: build_be, push_be

docs: add gitignore
  .gitignore
Due: none

test : 배포 테스트 환경구축
  BE/build.gradle
  BE/src/main/java/com/example/b101/EreGgApplication.java
  BE/src/main/java/com/example/b101/config/RedisConfig.java
  BE/src/main/java/com/example/b101/config/SecurityConfig.java
  BE/src/main/java/com/example/b101/controller/RoomController.java
  BE/src/main/java/com/example/b101/controller/UserController.java
  BE/src/main/java/com/example/b101/domain/Author.java
  BE/src/main/java/com/example/b101/domain/Book.java
  BE/src/main/java/com/example/b101/domain/Room.java
  BE/src/main/java/com/example/b101/domain/Scene.java
  BE/src/main/java/com/example/b101/domain/User.java
  BE/src/main/java/com/example/b101/dto/SignUpDto.java
  BE/src/main/java/com/example/b101/repository/RoomRepository.java
  BE/src/main/java/com/example/b101/repository/RoomRepositoryImpl.java
  BE/src/main/java/com/example/b101/repository/UserRepository.java
  BE/src/main/java/com/example/b101/service/RoomService.java
  BE/src/main/java/com/example/b101/service/UserService.java
  BE/src/main/resources/application.properties
Due: build_be, push_be

docs: vite 캐싱 파일 gitignore 추가
  .gitignore
Due: none

feat: 초대 링크 복사기능 추가
  FE/package-lock.json
  FE/package.json
  FE/src/assets/icons/copy.svg
  FE/src/assets/index.js
  FE/src/views/LobbyView.vue
Due: build_fe, push_fe

test
  FE/src/views/LobbyView.vue
  FE/test.txt
Due: build_fe, push_fe

test
  BE/Dockerfile
  BE/gradlew
  BE/settings.gradle
Due: build_be, push_be

delete: yml 삭제'
  .gitlab-ci.yml
Due: none

chore: DBMS를 MySQL에서 PostgreSQL로 변경 (#S12P11B101-80)
  BE/.gitignore
  BE/build.gradle
  BE/src/main/java/com/example/b101/controller/RoomController.java
  BE/src/main/java/com/example/b101/domain/Author.java
  BE/src/main/java/com/example/b101/domain/Room.java
  BE/src/main/java/com/example/b101/domain/User.java
  BE/src/main/java/com/example/b101/repository/RoomRepositoryImpl.java
  BE/src/main/java/com/example/b101/service/RoomService.java
  BE/src/main/resources/application.properties
Due: build_be, push_be

feat: roomID 여부에 따라 참여하기 버튼 추가
  FE/src/assets/images/gameJoin.svg
  FE/src/assets/index.js
  FE/src/views/InitView.vue
Due: build_fe, push_fe

S12P11B101-80 <chore : DBMS mysql -> postgresql>
  BE/src/main/resources/application.properties
Due: build_be, push_be

test: runnertest
  .gitlab-ci.yml
Due: none

feat: 방 설정 동기화 추가
  FE/src/views/LobbyView.vue
Due: build_fe, push_fe

fix: 폰트 깨지는 이슈 해결
  FE/src/assets/index.css
  FE/tailwind.config.js
Due: build_fe, push_fe

feat: 초기 렌더링 시간을 위해 인트로 애니메이션 추가
  FE/src/App.vue
  FE/src/assets/tiger.gif
  FE/src/components/Presets/TigerAnimation.vue
  FE/src/components/index.js
Due: build_fe, push_fe

fix: eslint 경로 수정
  FE/package.json
Due: build_fe, push_fe

style: eslint, prettier 적용 파일
  FE/src/App.vue
  FE/src/apis/auth.js
  FE/src/assets/index.css
  FE/src/assets/index.js
  FE/src/components/Presets/TigerAnimation.vue
  FE/src/router/index.js
  FE/src/views/InitView.vue
  FE/src/views/IntroView.vue
  FE/src/views/LobbyView.vue
Due: build_fe, push_fe

Path conditions:
  build_fe: any of: FE/**/*
  build_be: any of: BE/**/*
  push_fe: any of: FE/**/*
  push_be: any of: BE/**/*
