Repository ramge132/long-ago: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_FE, build_BE, push_FE, push_BE

Path conditions:
  build_FE: any of: FE/**/*
  build_BE: any of: BE/**/*
  push_FE: any of: FE/**/*
  push_BE: any of: BE/**/*

test: delete volume
  .gitlab-ci.yml
Due: none

test: pipeline
  BE/Dockerfile
  FE/Dockerfile
Due: build_FE, build_BE, push_FE, push_BE

test: 환경변수 수정 VITE_MAIN_API_SERVER_URL
  BE/Dockerfile
  FE/Dockerfile
Due: build_FE, build_BE, push_FE, push_BE

test: 변수 다시 수정
  BE/Dockerfile
  FE/Dockerfile
Due: build_FE, build_BE, push_FE, push_BE

feat: 투표 프레임 추가가
  FE/src/components/InGame/InGameVote.vue
  FE/src/components/index.js
  FE/src/views/Game/InGameView.vue
Due: build_FE, push_FE

test: createJPA
  BE/src/main/resources/application.properties
  FE/Dockerfile
Due: build_FE, build_BE, push_FE, push_BE

test: updateJPA
  BE/Dockerfile
  BE/src/main/resources/application.properties
  FE/Dockerfile
Due: build_FE, build_BE, push_FE, push_BE

feat: BE/.env
  .gitlab-ci.yml
Due: none

feat: add env
  .gitlab-ci.yml
  BE/.env
  BE/.gitignore
  BE/build.gradle
  BE/src/main/java/com/example/b101/EreGgApplication.java
  BE/src/main/resources/application.properties
Due: build_BE, push_BE

style: 대화, 이야기 입력창 통합 및 전환 기능 추가
  FE/src/assets/icons/change.svg
  FE/src/assets/index.js
  FE/src/components/InGame/InGameControl.vue
  FE/src/views/Game/InGameView.vue
  FE/src/views/GameView.vue
Due: build_FE, push_FE

style: prettier 적용용
  FE/src/components/InGame/InGameControl.vue
  FE/src/router/index.js
  FE/src/views/Game/InGameView.vue
  FE/src/views/GameView.vue
Due: build_FE, push_FE

style: 그리드 비율 수정정
  FE/src/components/InGame/InGameContent.vue
  FE/src/components/InGame/InGameControl.vue
Due: build_FE, push_FE

style: 비율, 디자인 변경경
  FE/src/components/InGame/InGameProgress/ContentTimer.vue
  FE/src/views/Game/InGameView.vue
Due: build_FE, push_FE

Merge branch 'FE/InGameControl' into 'FE/dev'
  FE/src/views/GameView.vue
Due: build_FE, push_FE

test: BE만 넣기
  .gitlab-ci.yml
  BE/build.gradle
  BE/src/main/java/com/example/b101/EreGgApplication.java
  BE/src/main/resources/application.properties
Due: build_BE, push_BE

test: BE
  BE/Dockerfile
  BE/src/main/java/com/example/b101/EreGgApplication.java
Due: build_BE, push_BE

fix: 시작하기 버그 수정
  FE/src/components/Lobby/LobbySettings.vue
  FE/src/views/Game/LobbyView.vue
  FE/src/views/GameView.vue
Due: build_FE, push_FE

style: lint 적용
  FE/src/views/GameView.vue
Due: build_FE, push_FE

test: 네트워크 명시
  BE/Dockerfile
Due: build_BE, push_BE

feat: delete & read game data
  .gitignore
  BE/.env
  BE/src/main/java/com/example/b101/controller/GameController.java
  BE/src/main/java/com/example/b101/domain/Game.java
  BE/src/main/java/com/example/b101/domain/PlayerStatus.java
  BE/src/main/java/com/example/b101/repository/GameRepository.java
  BE/src/main/java/com/example/b101/repository/GameRepositoryImpl.java
  BE/src/main/java/com/example/b101/service/GameService.java
Due: build_BE, push_BE

Update .env
  BE/.env
Due: build_BE, push_BE

test:가상메모리
  BE/Dockerfile
Due: build_BE, push_BE

test: port는 6379
  .gitlab-ci.yml
  BE/src/main/resources/application.properties
Due: build_BE, push_BE

fix: 널포인트입셉션 해결
  .gitlab-ci.yml
  BE/Dockerfile
  BE/src/main/java/com/example/b101/EreGgApplication.java
  BE/src/main/resources/application.properties
Due: build_BE, push_BE

test: dockerfile .env복사
  BE/Dockerfile
Due: build_BE, push_BE

feat: endingcard 리롤
  .gitlab-ci.yml
  BE/.env
  BE/Dockerfile
  BE/src/main/java/com/example/b101/EreGgApplication.java
  BE/src/main/java/com/example/b101/controller/GameController.java
  BE/src/main/java/com/example/b101/domain/PlayerStatus.java
  BE/src/main/java/com/example/b101/repository/GameRepository.java
  BE/src/main/java/com/example/b101/service/GameService.java
  BE/src/main/resources/application.properties
Due: build_BE, push_BE

feat: 프로필 이미지 추가
  FE/src/assets/images/profiles/cat_1.svg
  FE/src/assets/images/profiles/cat_2.svg
  FE/src/assets/images/profiles/cat_3.svg
  FE/src/assets/images/profiles/cat_4.svg
  FE/src/assets/images/profiles/cat_5.svg
  FE/src/assets/images/profiles/cat_6.svg
  FE/src/assets/images/profiles/cattle_1.svg
  FE/src/assets/images/profiles/cattle_2.svg
  FE/src/assets/images/profiles/cattle_3.svg
  FE/src/assets/images/profiles/cattle_4.svg
  FE/src/assets/images/profiles/chicken_1.svg
  FE/src/assets/images/profiles/cow_1.svg
  FE/src/assets/images/profiles/dog_1.svg
  FE/src/assets/images/profiles/dog_2.svg
  FE/src/assets/images/profiles/index.js
  FE/src/components/Lobby/LobbyUsers.vue
  FE/src/views/Game/InGameView.vue
  FE/src/views/IntroView.vue
Due: build_FE, push_FE

feat: 방장 이탈 시 다음 방장
  FE/src/components/Lobby/LobbySettings.vue
  FE/src/views/Game/LobbyView.vue
  FE/src/views/GameView.vue
Due: build_FE, push_FE

fix: 작동 안하는 테스트코드 삭제
  FE/src/views/GameView.vue
Due: build_FE, push_FE

test: 파라미터 -> 피니아 변경 중
  FE/src/stores/game.js
  FE/src/views/IntroView.vue
Due: build_FE, push_FE

feat: 게임 정보 피니아 스토어
  FE/src/stores/game.js
Due: build_FE, push_FE

feat: 방장 순서 로직 끝
  FE/src/views/GameView.vue
  FE/src/views/IntroView.vue
Due: build_FE, push_FE

feat: scene 지연 로딩
  BE/.env
  BE/src/main/java/com/example/b101/EreGgApplication.java
  BE/src/main/java/com/example/b101/domain/Author.java
  BE/src/main/java/com/example/b101/domain/Book.java
  BE/src/main/java/com/example/b101/domain/Scene.java
  BE/src/main/resources/application.properties
Due: build_BE, push_BE

feat: 게임 시작 시 무작위 순서로 정렬 기능 추가
  FE/Dockerfile
  FE/src/components/InGame/InGameProgress/ContentTimer.vue
  FE/src/components/Lobby/LobbySettings.vue
  FE/src/stores/inGame.js
  FE/src/views/Game/InGameView.vue
  FE/src/views/GameView.vue
Due: build_FE, push_FE

test: main-server
  .DS_Store
  .gitlab-ci.yml
  BE/Dockerfile
  FE/Dockerfile
Due: build_FE, build_BE, push_FE, push_BE

test: main-server MAIN_SERVER_KEY 변수 변경
  .gitlab-ci.yml
Due: none

test: test-server
  .gitlab-ci.yml
Due: none
